@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'hotpizza';
  src: local('hotpizza'), url(./fonts/hotpizza/hotpizza.ttf) format('truetype');
}

/* *{
  font-family: hotpizza , serif;
  color: black;
} */

.banner{
    background-image: url('/public/banner.jpg');
    background-repeat: no-repeat;
    width: 100%;
    max-height: 120vh;
    background-size: cover;
}

.img__wrap {
  position: relative;
}

.img__description {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  font-size: xx-small;
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}